<section class="form-container">
  <div class="form-card">
    <h2 class="form-title">{{ isEditMode ? 'Editar Usuário' : 'Cadastrar Novo Usuário' }}</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
      <div class="form-row">
        <label for="name">Nome</label>
        <input id="name" type="text" formControlName="name" />
        @if (userForm.get('name')?.touched && userForm.get('name')?.invalid) {
          <div class="error">Nome obrigatório</div>
        }
      </div>

      <div class="form-row">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />

        @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
          <div class="error">Email inválido</div>
        }
      </div>

      <div class="form-row">
        <label for="matricula">Matrícula</label>
        <input id="matricula" type="text" formControlName="matricula" />
        @if (userForm.get('matricula')?.touched && userForm.get('matricula')?.invalid) {
          <div class="error">Matrícula obrigatória</div>
        }
      </div>

      @if (!isEditMode) {
        <div class="form-row">
          <label for="password">Senha</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="{{ isEditMode ? 'Deixe vazio para manter' : '' }}"
          />

          @if (userForm.get('password')?.touched && userForm.get('password')?.invalid) {
            <div class="error">Senha deve ter exatamente 6 caracteres alfanuméricos</div>
          }
        </div>

        <div class="form-row">
          <label for="confirmPassword">Confirmar Senha</label>
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            placeholder="{{ isEditMode ? 'Deixe vazio para manter' : '' }}"
          />

          @if (
            userForm.errors?.['passwordMismatch'] &&
            (userForm.get('confirmPassword')?.touched || userForm.get('password')?.touched)
          ) {
            <div class="error">Senhas não conferem</div>
          }
        </div>
      }

      <div class="form-actions">
        <button type="submit" [disabled]="userForm.invalid">
          {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
        </button>
      </div>
    </form>
  </div>
</section>
