<app-top-bar></app-top-bar>

<body class="body-home">
  <section class="home-main-container">
    <h3 class="home-title">Home</h3>

    <section class="home-main-section">
      <div class="home-welcome-message">
        <span class="home-welcome-text">Olá Milena!</span>
        <span class="home-date">{{ formattedDate() }}</span>
      </div>

      <div class="home-image-container">
        <img src="home.svg" alt="Home image" />
        <span>Bem-vindo ao WenLock!</span>
      </div>
    </section>
  </section>
</body>
