h3 {
  margin: 0%;
}

.home-container {
  display: flex;

  .home-content {
    width: 100%;
  }
}

.body-home {
  background-color: #f5f5f5;

  padding-bottom: 78px;

  .home-main-container {
    display: flex;
    flex-direction: column;
    gap: 13px;

    margin-top: 21px;
    margin-left: 44px;
    margin-right: 44px;

    .home-title {
      font-family: 'Manrope', sans-serif;
      font-size: 38pt;
      font-weight: bold;
    }
    .home-main-section {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      box-shadow: 0px 1px 4px #00000029;
      border-radius: 5px;
      opacity: 1;

      padding-top: 24px;
      padding-left: 32px;
      padding-bottom: 123px;

      .home-welcome-text {
        font-family: 'Manrope', sans-serif;
        font-size: 30px;
        font-weight: bold;
      }

      .home-date {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
      }

      .home-welcome-message {
        display: flex;
        flex-direction: column;
      }

      .home-image-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        align-items: center;

        > img {
          width: 542px;
          height: 451px;
        }

        > span {
          font-family: 'Manrope', sans-serif;
          font-size: 28px;
          font-weight: bold;

          box-shadow: 0px 3px 6px #00000029;
          border: 1px solid #272846;
          border-radius: 9px;
          opacity: 1;

          padding: 21px 130px;
        }
      }
    }
  }
}
